.App{
    text-align: right;
    font-weight: lighter;
}

.block1{
    text-align: right;
    font-weight: lighter;
}

.block2{
    text-align: right;
    font-weight: lighter;
}
.block3{
    text-align: right;
    font-weight: lighter;

}